<html>

<head>
<title>Bootstrap Example</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="loginScript.js"></script>
<link rel="stylesheet" href="MainStyle.css">
<head/>
<body background="LoginBackground.png" >


  <div class="login-form" ng-app="myApp" ng-controller="myCtrl">
    <div class="seperate">
    <h1 class=" welcome"> Welcome to Recovery</h1>
  </div>
    <div class="form-group">

      <input class="form-control" type="text" ng-model="User" id="username" placeholder="Enter your username here!">

      <input type="password" class="form-control" ng-model="PassworldHash" id="pwd" placeholder="Enter your passworld here!">
    </div>
    <button type="submit" class="btn btn-default" ng-click="myFunction()">Sign in</button>

  </div>
<body/>
</html>
